[Desktop Entry]
Version=2.0.0
Type=Application
Name=Virtual Wipe
Name[en_US]=Virtual Wipe
Comment=Secure data sanitization tool
Comment[en_US]=Secure data sanitization tool
GenericName=Secure File Wiper
GenericName[en_US]=Secure File Wiper
Exec=vwipe
Icon=vwipe
Terminal=false
StartupNotify=true
Categories=System;Security;Utility;
Keywords=security;wipe;delete;sanitize;secure;erase;privacy;
MimeType=
Actions=NewWindow;

[Desktop Action NewWindow]
Name=New Window
Name[en_US]=New Window
Exec=vwipe
Icon=vwipe
